window.location.href = 'http://127.0.0.1:5500/give-give-frontend/views/inventory.html';
window.location.href = 'http://127.0.0.1:5500/give-give-frontend/views/add_toy/upload_or_capture.html';
window.location.href = 'http://127.0.0.1:5500/give-give-frontend/views/add_toy/upload_file';
window.location.href = 'http://127.0.0.1:5500/give-give-frontend/views/add_toy/take_photo';
window.location.href = 'http://127.0.0.1:5500/give-give-frontend/views/add_toy/form';
window.location.href = 'http://127.0.0.1:5500/give-give-frontend/views/login';
