<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Add new toy to your inventroy </title>
  <link href="/styles/add_toy/upload_or_capture.css" rel="stylesheet">
  
  
  


</head>

<body>

    <header>
        <h1> Welcome to GiveGive </h1>
        <nav class="nav-bar">
            <ul>
                <li><a href="/views/startpage.html"> Startpage </a></li>
                <li><a href="/views/upload_or_capture.html"> Add new toy to inventory </a></li>
            </ul>
        </nav>
    </header>
    

<div>
    <h2> Add new toy to inventory..  </h2>
</div>


<div id="upload-file-button">
    <a href="upload_file.html">
        <button >...with existing picture on device </button>
        </a>
</div>

<div id="take_photo-button">
    <a href="take_photo.html"> 
        <button > ... by taking a new photo </button>
        </a>

</div>






</body>
</html>