<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Add new toy to your inventroy </title>
  <link href="/styles/add_toy.css" rel="stylesheet">
  
  <script src="../scripts/add_toy/take_photo.js"></script>
  


</head>

<body>

  <nav class="nav-bar">
    <ul>
        <li><a href = "/views/inventory.html"> Inventory </a></li>
        <li><a href = "/views/inventory.html"> Profile </a></li>
    </ul>
</nav>

<div>
    <h2> Add new toy to inventory..  </h2>
</div>


<div id="upload-file-button">
    <a href="upload_file.html">
        <button >...with existing picture on device </button>
        </a>
</div>

<div id="take_photo-button">
    <a href="take_photo.html">
        <button > ... by taking a new photo </button>
        </a>

</div>






</body>
</html>