<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add new toy to your inventroy</title>
</head>

<body>


  <!-- Möjlighet för användare att kunna ladda upp bild från lokal enhet  -->
<div id="upload-photo">
  <form action="upload.php" method="post" enctype="multipart/form-data">
    <label for="photo-upload"> Upload picture of toy you want to scan: </label>
    <input type="file" id="photo-uplod" name="photo" accept="image/*">
    <button type="submit"> ladda upp bild </button> <!-- Kan flytta denna till slutet av sidan (send-IMG) -->
  </form>
</div>


<!--  Kamerafunktionen för att kunna ta en bild direkt på sidan -->
 <div id="camera">
    <h1>Camera Access and Photo Capture</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="TakePic">Take Photo</button>
    <canvas id="canvas" width="640" height="480"></canvas>
    <script src="../scripts/camerascripts.js"></script>
  </div> 

  
  <!-- Knapp för att skicka img till API  -->
<div id="send-IMG">
  <button id="send-img-to-api"></button>

</div>

</body>
</html>
