<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiveGive</title>
    <link href="inventory.css" rel="stylesheet">
</head>
<body>
    <!-- Hela webbsidan-container  -->
    <div id="container">

        <div id="profile-div">
            <h2> Profile </h2>
            <p>Name: Kalle </p>
            <p>Parent name: </p>

            <h3> Toys </h3>
            <p>Toys traded: </p>
            <p>Toys in inventory: </p>
           



        </div>


        <div id="inventory-div">
            <header>
                <h1>Inventory</h1>
            </header>

    
        </div>


    </div>
</body>
</html>