<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="startpage.html" rel="stylesheet">
</head>
<body>

    <!-- container till hela statsidan  -->
    <div id="container">


        <!--  Container till login -->
        <div id="login-div">
            <form id="login-form">
                <div class="email">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
            </form>
        </div>
         
        <div id="Gameboy for login">
            <img>

        </div>


        <!--  Container till om oss/info för användaren -->
        <div id="about-div">
            <h2> Welcome to GiveGive Webbpage </h2>
            <p> About us and our service. blab bla bla </p>
        </div>


        <!--  conteriner för att användare ska kunna se kommande event/teasa att regga konto för själv deltaga -->
        <div id="event-teaser">

        </div>



        
    </div>
</body>
</html>