<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toy form</title>
    <link href="../styles/toy_form.css" rel="stylesheet">
    
    <script src="../scripts/add_toy/toy_form.js"></script> 
</head>
<body>
    <div id="popup-container" class="popup">
        <form id="toy-form" class="toy-form">
            <span class="form-btn" onclick="form()"></span>
            <h2>Toy information</h2>
            <input type="hidden" id="toy-id" name="toyId">

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="tags">Tags :</label>
            <input type="text" id="tags" name="Tags" required>
    
            <label for="condition">Condition:</label>
            <input type="text" id="condition" name="Condition" required>
    
            <label for="material">Material:</label>
            <input type="text" id="material" name="Material" required>

            <button type="submit" id="submit-toy">Submit</button>
        </form>
    </div>
    <script src="../scripts/add_toy/toy_form.js"></script>
</body>
</html>
