* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F6F5AE;
    box-sizing: border-box;
    background: url(/images/toys_background.jpg) no-repeat center center; 
    background-size: cover;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    color: #fff;
}

#login-form {
    background-color: #CE8147;
    width: 30rem;
    color: #fff;
    border-radius: 20px;
}

.input-box input::placeholder {
    color: #fff;
    font-size: 1rem;
    padding-left: 2px;
}

.input-box {
    width: 100%;
    height: 50%;
    margin: 3rem 0px;
    padding: 0 1rem;
}

.input-box input {
    position: relative;
    width: 100%;
    height: 3rem;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #cecece;
    border-radius: 20px;
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
}

.input-box i {
    font-size: 1.5rem;
    position: absolute;
    right: 42%;
    transform: translateY(-50%);
    padding-top: 3rem;
}

.login {
    margin: 1rem;
    padding-bottom: 2rem;
}

.submit-btn {
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}

.submit-btn:hover{
    background-color: #F6F5AE;
    transition: 0.5s;
}

.login, h2 {
    font-size: 3rem;
    text-align: center;
}

header, h1 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
}

img {
    width: 8%;
    height: 8%;
}

input:focus::placeholder {
    color: transparent;
}